
//===================================
// VARIABLES
//===================================
// having problems with sass compiler, need to investigate

//Fonts
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Crafty+Girls|Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Charmonman|Roboto|Lobster+Two&display=swap');
//Brand name and h1s only
$font-title: 'Patrick Hand SC', cursive;
$font: 'Roboto', sans-serif;
$test-font-title: 'Fredericka the Great', cursive;


// font-family: 'Bad Script', cursive;
// font-family: 'Crafty Girls', cursive;
// font-family: 'Patrick Hand SC', cursive;

$brand-dark: #358270;
$brand-light: #4AB59A;

//used for hero images, coloured boxes/borders
$background: #4AB59A;

//used when we want to color a title something other than the text color
$title: #358270;

//standard for all text
//thoughts on this being v.dark grey / v.light white
$text: #000000;
$text-inverted: #ffffff;

//used for placeholders and supporting text
$light-text: #686868;

//link text, for when we want to color a link something other than the text color
$link: #358270;
$link-hover: #4AB59A;

//used for forms
$error: #b63c5a;

//buttons
$button:  #358270;
$button-hover: #4AB59A;
$button-secondary: #686868;
$button-link: 290486px; /* replicating bulma's is-rounded class which won't work on this element via html */


//Logo - colours used in the logo only
$logo-purple: #654AB5;
$logo-red: #B54A65;
$logo-green: #9BB54A;


.hide {
  display: none;
}


//===================================
// TESTING
//===================================







//===================================
// LAYOUT
//===================================
* {
  box-sizing: border-box; 
}
html {
  background-color: rgb(249,249,249);
}
.hero {
  background-image: url(../img/hero.jpg);
}
.navbar {
  background-color: rgb(249,249,249);
  // border-bottom: 1px solid $brand-light;
}
.container {
  padding: 20px; /*setting hard pixels until can work out how to calc the icon offset properly */
}
// Dashboard Page
.lists{
  border: 1px solid $link-hover;
  border-radius: 3px;
  color:$text;
  margin: 0.5em 0;
  background-color: white;
  .column{
    margin: 0.5em;
  }
}
.lists:hover{
  background-color: $link-hover;
  cursor: pointer;
}

.card {
  // height: 18rem;
  position: relative;
}
.column-home{
  display: flex;
  justify-content: center;

  .card-home {
    width: 15rem;
    background-color: white;

  }
}

.card {
  .interactive-icon {
  font-size: 2.5rem;
  position: absolute;
  top: -5%;
  left: 95%;
  z-index: 2;
  line-height: 0;
  }
  .background-icon {
    color: white;
    z-index: 1;
    font-size: 2rem;
    margin-top: 1%;
  }
}
.suggested-gifts{
  margin-top: 1rem;
}
.saved-item{
  display: flex;
  align-items: center;
  div{
    display: flex;
    justify-content: column;
    padding-left: 0.3rem;
  }
  .custom-note{
    display: block;
  }
  img{
    padding: 1px;
    width: 4rem;
    margin: 2px
  }
  a{
    max-width: 20rem;
    color: $link;
  }
  a:hover{
    color: $link-hover;
  }
  .saved-item-detail{
    display:flex;
    flex-direction: column;
  }
}
.custom-item{
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0px;

  .custom-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .custom-note{
    display: flex;
    flex-direction: column;
    padding-left: 0.3rem;
  
  }
}




//===================================
// TEXT & LINKS
//===================================

.edit {
  color: red;
}
.title{
  font-family: $font-title;
}

.hero {
  h1 {
  font-size: 7.8rem;
  // font-family: $font-title;
  font-family: $test-font-title;
  font-weight: 500;
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
  h2 {
    font-size: 2.3rem;
    color: white;
    letter-spacing: 0.15rem;
    
  }
}
h1 {
  font-size: 2rem;
  font-family: $font-title;
}
h2 {
  font-size: 1.5rem;
}
h3 { /*list page*/
  font-size: 1.25rem;
  border-bottom: 1px solid $brand-light;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.custom-note{
  a{
    color: $link;
  }
  a:hover {
    color: $link-hover;
  }
.custom-label{
  // font-weight: bold;  
  }
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
}
.breadcrumbs a {
  color: $light-text;
  margin: 0 5px;
}
.breadcrumbs li::after { 
  content: ">>"; 
  color: $light-text;
  font-size: 0.75rem;
  vertical-align: 10%;
}
.breadcrumbs li:last-of-type::after { 
  content: ""; 
}

.interactive-icon {
  font-size: 1rem;
  color: $link;
  margin-right: 5px; /*setting hard pixels until can work out how to calc it properly */
  margin-left: -25px; /* being .container padding + margin-right above */
}


.clickable {
  color: $link;
  cursor: pointer;
}
.clickable:hover {
  color: $link-hover;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-card{
  display: block;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // max-width: 8rem;
  height: 5rem;
}

.optional {
  font-size: 0.75rem;
  color: $light-text;
}

//===================================
// FORM & BUTTONS & Loader
//===================================

.form {
  margin: 1.5rem 0;
  width: 75%;
}
.loader-margin{
  margin: 10rem 0;
}

.input, .select-input {
  width: 75%;
}
input[type='checkbox'] {
  margin-right: 5px;
}
input[name='budget'] {
  max-width: 25%;
}

.has-static-text input {
  padding-left: 3.5rem; /* should refactor to calc this based on static text length */
}
.has-static-text {
	position:relative;
}
.has-static-text input {
  padding-left: 3.5rem; /* should refactor to calc this based on static text length */
}
.static-text {
	position:absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.button {
  background-color: $button;
  color:$text-inverted;
  font-family: $font;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.button.cancel {
  background-color: $button-secondary;
}
.button:hover, .button:active, .button:focus,
.navbar-item a:hover, 
.filter-option li:hover, .filter-option li:active, .filter-option li:focus {
  background-color: $button-hover;
  border-radius: $button-link;
  color: $text;
}

.navbar-item a, .filter-option li {
  color: $text;
  font-family: $font;
}

//force all Bulma blue text to not be blue in our navbar!
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  color: $text;
}



/* for category section */
.filter-option {
  display: flex;
}
.filter-option li {
  max-width: 20%;
  margin: 0.5rem 10px 0 0;
  padding: 0.2rem 0.5rem;
  border: 1px solid $button;
  border-radius: $button-link;
}



//===================================
// NOTE CARDS
//===================================

.note-card {
  height: 5rem;
  width: 15rem;
  display: flex;    
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border: 1px solid $brand-light;
  border-radius: 20px 0 20px 0;
  margin: 2rem 0;
  font-family: $font-title;
}

.note-card:first-of-type {
  margin-top: 4rem; //being standard 2rem + 2rem which is size of h1
  background-image: linear-gradient(to bottom right, white, white, $logo-purple);
}
.note-card:nth-child(2) {
  margin-left: 2rem;
  background-image: linear-gradient(to bottom right, white, white, $logo-red);
}
.note-card:nth-child(3) {
  margin-left: 4rem;
  background-image: linear-gradient(to bottom right, white, white, $logo-green);
}

.note-card p:last-of-type {
  font-weight: bold;
}


//===================================
// SWITCH INTERACTION
//===================================

/*turn checkbox into a switch*/

//===================================
// LOGO
//===================================

//TEXT: FOR WHEN SHOWN AS A LOGO
//present image can be used independently
.logo-text {
  font-family: $test-font-title;
  font-size: 1.75rem; //this is sized for navbar sized logo
  margin-left: 5px;
  color: $brand-dark;
}

//PRESENT: BOX STRUCTURE
.present {
  display: flex;
  flex-wrap: wrap;
}
.logo-box {
  width: 50%;
  height: 50%;
}

//PRESENT: SIZE  
//::HOMEPAGE base size is 50px
.present.square { width: calc(1 * 50px); height: calc(1 * 50px)  }
.present.tall { width: calc(1 * 50px); height: calc(1.5 * 50px)  }
.present.wide { width: calc(1.5 * 50px); height: calc(0.7 * 50px)  }
//::NAVBAR base size is 20px
.navbar-item {
  .present.square { width: calc(1 * 20px;); height: calc(1 * 20px;)  }
  .present.tall { width: calc(1 * 20px;); height: calc(1.5 * 20px;)  }
  .present.wide { width: calc(1.2 * 20px;); height: calc(0.7 * 20px;)  }
}

//PRESENT: POSITIONING
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
//::HOMEPAGE
.present.square { z-index: 3; }
.present.tall { z-index: 1; margin-left: calc(-0.4 * 50px); }
.present.wide { z-index: 2; margin-left: calc(-0.8 * 50px); }
//::NAVBAR
.navbar-item {
  .present.square { z-index: 3; }
  .present.tall { z-index: 1; margin-left: calc(-0.4 * 20px); }
  .present.wide { z-index: 2; margin-left: calc(-0.8 * 20px); }
}

//PRESENT: ANIMATIONS
.present.square { animation: bounce ease 5s infinite; }
.present.tall { animation: bounce2 ease 5s infinite; }
.present.wide { animation: bounce3 ease 5s infinite; }

//PRESENT: RIBBONS
//outside border
.present { box-shadow: 2px 1px 10px rgba(0,0,0,0.5); }
.present.square { border: 1px solid $logo-purple; }
.present.tall { border: 1px solid $logo-red; }
.present.wide { border: 1px solid $logo-green; }

//::HOMEPAGE
//vertical line: boxes 1 and 3 border right
.present .logo-box:nth-child(odd) { border-right-width: calc((0.1 * 50px)); border-right-style: solid; }
.present.square .logo-box:nth-child(odd) { border-right-color: $logo-purple; }
.present.tall .logo-box:nth-child(odd) { border-right-color: $logo-red; }
.present.wide .logo-box:nth-child(odd) { border-right-color: $logo-green; }
//vertical line: boxes 2 and 4 border left
.present .logo-box:nth-child(even) { border-left-width: calc((0.1 * 50px)); border-left-style: solid; }
.present.square .logo-box:nth-child(even) { border-left-color: $logo-purple; }
.present.tall .logo-box:nth-child(even) { border-left-color: $logo-red; }
.present.wide .logo-box:nth-child(even) { border-left-color: $logo-green; }
//horizontal line: boxes 1 and 2 border bottom
.present .logo-box:nth-child(1), .present .logo-box:nth-child(2) { border-bottom-width: calc((0.1 * 50px)); border-bottom-style: solid;  background-color: white; }
.present.square .logo-box:nth-child(1), .present.square .logo-box:nth-child(2) { border-bottom-color: $logo-purple; }
.present.tall .logo-box:nth-child(1), .present.tall .logo-box:nth-child(2) { border-bottom-color: $logo-red; }
.present.wide .logo-box:nth-child(1), .present.wide .logo-box:nth-child(2) { border-bottom-color: $logo-green; }
//horizontal line: boxes 3 and 4 border top
.present .logo-box:nth-child(3), .present .logo-box:nth-child(4) { border-top-width: calc((0.1 * 50px)); border-top-style: solid; }
.present.square .logo-box:nth-child(3), .present.square .logo-box:nth-child(4) { border-top-color: $logo-purple; background-image: linear-gradient(white, $logo-purple)}
.present.tall .logo-box:nth-child(3), .present.tall .logo-box:nth-child(4) { border-top-color: $logo-red; background-image: linear-gradient(white, $logo-red)}
.present.wide .logo-box:nth-child(3), .present.wide .logo-box:nth-child(4) { border-top-color: $logo-green; background-image: linear-gradient(white, $logo-green)}

//::NAVBAR
.navbar-item{
  //vertical line: boxes 1 and 3 border right
  .present .logo-box:nth-child(odd) { border-right-width: calc((0.1 * 20px)); border-right-style: solid; }
  .present.square .logo-box:nth-child(odd) { border-right-color: $logo-purple; }
  .present.tall .logo-box:nth-child(odd) { border-right-color: $logo-red; }
  .present.wide .logo-box:nth-child(odd) { border-right-color: $logo-green; }
  //vertical line: boxes 2 and 4 border left
  .present .logo-box:nth-child(even) { border-left-width: calc((0.1 * 20px)); border-left-style: solid; }
  .present.square .logo-box:nth-child(even) { border-left-color: $logo-purple; }
  .present.tall .logo-box:nth-child(even) { border-left-color: $logo-red; }
  .present.wide .logo-box:nth-child(even) { border-left-color: $logo-green; }
  //horizontal line: boxes 1 and 2 border bottom
  .present .logo-box:nth-child(1), .present .logo-box:nth-child(2) { border-bottom-width: calc((0.1 * 20px)); border-bottom-style: solid;  background-color: white; }
  .present.square .logo-box:nth-child(1), .present.square .logo-box:nth-child(2) { border-bottom-color: $logo-purple; }
  .present.tall .logo-box:nth-child(1), .present.tall .logo-box:nth-child(2) { border-bottom-color: $logo-red; }
  .present.wide .logo-box:nth-child(1), .present.wide .logo-box:nth-child(2) { border-bottom-color: $logo-green; }
  //horizontal line: boxes 3 and 4 border top
  .present .logo-box:nth-child(3), .present .logo-box:nth-child(4) { border-top-width: calc((0.1 * 20px)); border-top-style: solid; }
  .present.square .logo-box:nth-child(3), .present.square .logo-box:nth-child(4) { border-top-color: $logo-purple; background-image: linear-gradient(white, $logo-purple)}
  .present.tall .logo-box:nth-child(3), .present.tall .logo-box:nth-child(4) { border-top-color: $logo-red; background-image: linear-gradient(white, $logo-red)}
  .present.wide .logo-box:nth-child(3), .present.wide .logo-box:nth-child(4) { border-top-color: $logo-green; background-image: linear-gradient(white, $logo-green)}
}


//===================================
// ANIMATION
//===================================

  @keyframes bounce {
    0%, 2%, 6%,  100% {
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }
    4%, 5% {
     transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
     transform: translate3d(0, -30px, 0);
    }
    7% {
     transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
     transform: translate3d(0, -15px, 0);
    }
     9% { transform: translate3d(0,-4px,0);
    }
  } 

  @keyframes bounce2 {
    0%, 6%, 9%,  100% {
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }
    7%, 8% {
     transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
     transform: translate3d(0, -30px, 0);
    }
    10% {
     transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
     transform: translate3d(0, -15px, 0);
    }
     11% { transform: translate3d(0,-4px,0);
    }
  } 

  @keyframes bounce3 {
    0%, 10%, 13%,  100% {
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }
    11%, 12% {
     transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
     transform: translate3d(0, -30px, 0);
    }
    14% {
     transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
     transform: translate3d(0, -15px, 0);
    }
     15% { transform: translate3d(0,-4px,0);
    }
  } 
