
@use 'reset';
@use 'colors';

* {
  box-sizing: border-box; 
}

//===================================
// TEMP FOR DEVELOPMENT
//===================================

section {
  border: 1px solid red;
}
div {
  border: 1px solid green;
}
.container {
  border: 1px solid blue;
}
.columns {
  border: 1px solid grey;
}
.column {
  border: 1px solid purple;
}
form {
  border: 1px solid pink;
}
h1 {
  border: 1px solid cyan;
}




//===================================
// LAYOUT
//===================================





//===================================
// TEXT
//===================================




//===================================
// FORM & BUTTONS
//===================================






//===================================
// LOGO
//===================================





//===================================
// ANIMATION
//===================================

