
@use 'reset';
@use 'colors';

* {
  box-sizing: border-box; 
}


//===================================
// LAYOUT
//===================================





//===================================
// TEXT
//===================================

.edit {
  color: red;
}


//===================================
// FORM & BUTTONS
//===================================

input[name='budget'] {
  max-width: 25%;
  padding-left: 3.5rem; /* should refactor to calc this based on static text length */
}

.has-static-text {
	position:relative;
}

.static-text {
	position:absolute;
  left: 0.5rem;
  top: 0.5rem;
	font-weight:bold;
}

.not-editable {
  display: none;
}


//===================================
// LOGO
//===================================





//===================================
// ANIMATION
//===================================

